<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqz.ds.dao.CameraPushMsgMapper">
  <resultMap id="BaseResultMap" type="com.wqz.ds.pojo.CameraPushMsg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="camera_id" jdbcType="INTEGER" property="cameraId" />
    <result column="datetime" jdbcType="TIMESTAMP" property="datetime" />
    <result column="is_add" jdbcType="TINYINT" property="isAdd" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="is_male" jdbcType="TINYINT" property="isMale" />
    <result column="is_enter_store" jdbcType="TINYINT" property="isEnterStore" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="hold" jdbcType="VARCHAR" property="hold" />
  </resultMap>
  <sql id="Base_Column_List">
    id, camera_id, datetime, is_add, age, is_male, is_enter_store, store_id, hold
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from camera_push_msg
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getCameraPushByBrandId" resultMap="BaseResultMap">
	SELECT
	*
	FROM
		camera_push_msg
	WHERE
		store_id IN (
			SELECT
				id
			FROM
				store_info
			WHERE
				business_unit_id IN (
					SELECT
						id
					FROM
						business_unit_info
					WHERE
						brand_id = #{brandId,jdbcType=INTEGER})
				)
				AND datetime &gt; #{startTime,jdbcType=VARCHAR}
				AND datetime &lt; #{endTime,jdbcType=VARCHAR}
  </select>
  
  <select id="getCameraPushByBusinessUnitId" resultMap="BaseResultMap">
	SELECT
		*
	FROM
		camera_push_msg
	WHERE
		store_id IN (
			SELECT
				id
			FROM
				store_info
			WHERE
				business_unit_id = #{businessUnitId,jdbcType=INTEGER}
		)
		AND datetime &gt; #{startTime,jdbcType=VARCHAR}
		AND datetime &lt; #{endTime,jdbcType=VARCHAR}
  </select>
  
  <select id="getCameraPushByStoreId" resultMap="BaseResultMap">
	SELECT
		*
	FROM
		camera_push_msg
	WHERE
		store_id = #{storeId,jdbcType=INTEGER}
		AND datetime &gt; #{startTime,jdbcType=VARCHAR}
		AND datetime &lt; #{endTime,jdbcType=VARCHAR}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from camera_push_msg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wqz.ds.pojo.CameraPushMsg">
    insert into camera_push_msg (id, camera_id, datetime, 
      is_add, age, is_male, 
      is_enter_store, store_id, hold
      )
    values (#{id,jdbcType=INTEGER}, #{cameraId,jdbcType=INTEGER}, #{datetime,jdbcType=TIMESTAMP}, 
      #{isAdd,jdbcType=TINYINT}, #{age,jdbcType=INTEGER}, #{isMale,jdbcType=TINYINT}, 
      #{isEnterStore,jdbcType=TINYINT}, #{storeId,jdbcType=INTEGER}, #{hold,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wqz.ds.pojo.CameraPushMsg">
    insert into camera_push_msg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cameraId != null">
        camera_id,
      </if>
      <if test="datetime != null">
        datetime,
      </if>
      <if test="isAdd != null">
        is_add,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="isMale != null">
        is_male,
      </if>
      <if test="isEnterStore != null">
        is_enter_store,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="hold != null">
        hold,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cameraId != null">
        #{cameraId,jdbcType=INTEGER},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAdd != null">
        #{isAdd,jdbcType=TINYINT},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="isMale != null">
        #{isMale,jdbcType=TINYINT},
      </if>
      <if test="isEnterStore != null">
        #{isEnterStore,jdbcType=TINYINT},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="hold != null">
        #{hold,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqz.ds.pojo.CameraPushMsg">
    update camera_push_msg
    <set>
      <if test="cameraId != null">
        camera_id = #{cameraId,jdbcType=INTEGER},
      </if>
      <if test="datetime != null">
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAdd != null">
        is_add = #{isAdd,jdbcType=TINYINT},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="isMale != null">
        is_male = #{isMale,jdbcType=TINYINT},
      </if>
      <if test="isEnterStore != null">
        is_enter_store = #{isEnterStore,jdbcType=TINYINT},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="hold != null">
        hold = #{hold,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqz.ds.pojo.CameraPushMsg">
    update camera_push_msg
    set camera_id = #{cameraId,jdbcType=INTEGER},
      datetime = #{datetime,jdbcType=TIMESTAMP},
      is_add = #{isAdd,jdbcType=TINYINT},
      age = #{age,jdbcType=INTEGER},
      is_male = #{isMale,jdbcType=TINYINT},
      is_enter_store = #{isEnterStore,jdbcType=TINYINT},
      store_id = #{storeId,jdbcType=INTEGER},
      hold = #{hold,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>