<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wqz.ds.dao.CameraPushMsgMapper" >
  <resultMap id="BaseResultMap" type="com.wqz.ds.pojo.CameraPushMsg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="camera_id" property="cameraId" jdbcType="INTEGER" />
    <result column="is_add" property="isAdd" jdbcType="TINYINT" />
    <result column="is_male" property="isMale" jdbcType="TINYINT" />
    <result column="is_enter_store" property="isEnterStore" jdbcType="TINYINT" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="hold" property="hold" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, camera_id, is_add, is_male, is_enter_store, store_id, hold
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from camera_push_msg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from camera_push_msg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wqz.ds.pojo.CameraPushMsg" >
    insert into camera_push_msg (id, camera_id, is_add, 
      is_male, is_enter_store, store_id, 
      hold)
    values (#{id,jdbcType=INTEGER}, #{cameraId,jdbcType=INTEGER}, #{isAdd,jdbcType=TINYINT}, 
      #{isMale,jdbcType=TINYINT}, #{isEnterStore,jdbcType=TINYINT}, #{storeId,jdbcType=INTEGER}, 
      #{hold,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wqz.ds.pojo.CameraPushMsg" >
    insert into camera_push_msg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cameraId != null" >
        camera_id,
      </if>
      <if test="isAdd != null" >
        is_add,
      </if>
      <if test="isMale != null" >
        is_male,
      </if>
      <if test="isEnterStore != null" >
        is_enter_store,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="hold != null" >
        hold,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cameraId != null" >
        #{cameraId,jdbcType=INTEGER},
      </if>
      <if test="isAdd != null" >
        #{isAdd,jdbcType=TINYINT},
      </if>
      <if test="isMale != null" >
        #{isMale,jdbcType=TINYINT},
      </if>
      <if test="isEnterStore != null" >
        #{isEnterStore,jdbcType=TINYINT},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="hold != null" >
        #{hold,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqz.ds.pojo.CameraPushMsg" >
    update camera_push_msg
    <set >
      <if test="cameraId != null" >
        camera_id = #{cameraId,jdbcType=INTEGER},
      </if>
      <if test="isAdd != null" >
        is_add = #{isAdd,jdbcType=TINYINT},
      </if>
      <if test="isMale != null" >
        is_male = #{isMale,jdbcType=TINYINT},
      </if>
      <if test="isEnterStore != null" >
        is_enter_store = #{isEnterStore,jdbcType=TINYINT},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="hold != null" >
        hold = #{hold,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqz.ds.pojo.CameraPushMsg" >
    update camera_push_msg
    set camera_id = #{cameraId,jdbcType=INTEGER},
      is_add = #{isAdd,jdbcType=TINYINT},
      is_male = #{isMale,jdbcType=TINYINT},
      is_enter_store = #{isEnterStore,jdbcType=TINYINT},
      store_id = #{storeId,jdbcType=INTEGER},
      hold = #{hold,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>