<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wqz.ds.dao.StoreBillsPushMsgMapper" >
  <resultMap id="BaseResultMap" type="com.wqz.ds.pojo.StoreBillsPushMsg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
    <result column="bought_money" property="boughtMoney" jdbcType="VARCHAR" />
    <result column="bought_list" property="boughtList" jdbcType="VARCHAR" />
    <result column="hold" property="hold" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, store_id, datetime, bought_money, bought_list, hold
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from store_bills_push_msg
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getBillsByBrandId" resultMap="BaseResultMap">
	SELECT
	*
	FROM
		store_bills_push_msg
	WHERE
		store_id IN (
			SELECT
				id
			FROM
				store_info
			WHERE
				business_unit_id IN (
					SELECT
						id
					FROM
						business_unit_info
					WHERE
						brand_id = #{brandId,jdbcType=INTEGER})
				)
				AND datetime &gt; #{startTime,jdbcType=VARCHAR}
				AND datetime &lt; #{endTime,jdbcType=VARCHAR}
  </select>
  
  <select id="getBillsByBusinessUnitId" resultMap="BaseResultMap">
	SELECT
		*
	FROM
		store_bills_push_msg
	WHERE
		store_id IN (
			SELECT
				id
			FROM
				store_info
			WHERE
				business_unit_id = #{businessUnitId,jdbcType=INTEGER}
		)
		AND datetime &gt; #{startTime,jdbcType=VARCHAR}
		AND datetime &lt; #{endTime,jdbcType=VARCHAR}
  </select>
  
  <select id="getBillsByStoreId" resultMap="BaseResultMap">
	SELECT
		*
	FROM
		store_bills_push_msg
	WHERE
		store_id = #{storeId,jdbcType=INTEGER}
		AND datetime &gt; #{startTime,jdbcType=VARCHAR}
		AND datetime &lt; #{endTime,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store_bills_push_msg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wqz.ds.pojo.StoreBillsPushMsg" >
    insert into store_bills_push_msg (id, store_id, datetime, 
      bought_money, bought_list, hold
      )
    values (#{id,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{datetime,jdbcType=TIMESTAMP}, 
      #{boughtMoney,jdbcType=VARCHAR}, #{boughtList,jdbcType=VARCHAR}, #{hold,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wqz.ds.pojo.StoreBillsPushMsg" >
    insert into store_bills_push_msg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="boughtMoney != null" >
        bought_money,
      </if>
      <if test="boughtList != null" >
        bought_list,
      </if>
      <if test="hold != null" >
        hold,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="boughtMoney != null" >
        #{boughtMoney,jdbcType=VARCHAR},
      </if>
      <if test="boughtList != null" >
        #{boughtList,jdbcType=VARCHAR},
      </if>
      <if test="hold != null" >
        #{hold,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqz.ds.pojo.StoreBillsPushMsg" >
    update store_bills_push_msg
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="boughtMoney != null" >
        bought_money = #{boughtMoney,jdbcType=VARCHAR},
      </if>
      <if test="boughtList != null" >
        bought_list = #{boughtList,jdbcType=VARCHAR},
      </if>
      <if test="hold != null" >
        hold = #{hold,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqz.ds.pojo.StoreBillsPushMsg" >
    update store_bills_push_msg
    set store_id = #{storeId,jdbcType=INTEGER},
      datetime = #{datetime,jdbcType=TIMESTAMP},
      bought_money = #{boughtMoney,jdbcType=VARCHAR},
      bought_list = #{boughtList,jdbcType=VARCHAR},
      hold = #{hold,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>